#min1 {
    color: #010a0c;
    text-align: center;
  }
  #min2 {
    color: #8e999b;
    text-align: right;
  } 
  #min3 {
    color: #8e999b;
    text-align: right;
  } 
  #min4 {
    color: #8e999b;
    text-align: right;
  } 